body{
    font-family: sans-serif;
    background-color: azure;
    font-size: 14px;

}
.container{
    display: flex;
   
}
main{
   
    z-index: 2;
    margin-left: 215px;
    
}
header{
    height: 100px;
    background-color: gray;
}
