aside {
    float: right;
    border: solid 1px black;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 20px;
    
   
}

.table img{
    width: 220px;
    
}

.table th {
    text-align: left;
}
.table th[name=TableTag]{
    background-color:rgb(212,242,206);
    text-align: center;
}


.TableImg td{
    width: 80px;
    display: inline-flex;
    margin-left: 25px;

}

.TableMain {
    border-collapse: collapse;
   border: solid 1px black;
   
}
.TableMain [name=cabecalho]{
    background-color: rgb(241,196,15)   ;
    height: 32px;
 
}
.TableMain [name=cabecalho] th{
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}
.TableMain th, td{
 
    text-align: justify;
}
.cabecalho td{
    background-color: #f2f2f2;
    height: 40px;
    border: solid 1px black;
    border-collapse: collapse;
}