html {
    margin: 0vh 5vh 0vh 4vh;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 20px;

}

.container {
display: grid;

}

main {
    z-index: 2;
    margin-left: 40vh;
    margin-right: 0vh;


}

header {
    height: 100px;
    background-color: gray;
}

section h1 {
    font-style: italic;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
    font-size: 2em;
    font-weight: normal;
}