header picture {
    width: 100px;
    height: 80px;
}

header picture img {
    width: 200px;
    margin-top: 15px;
}

header {
    height: 60px;
    background-color: white;
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 15px;
    
    justify-content: space-around;
    align-items: center;
}

header form {
    margin-left: 150px;
    align-items: center;
    
   
   
}

header form input {
    height: 25px;
    width: 400px;

}

header form button {
    height: 31px;
    background-color: #FCFCFD;
    font-weight: bold;
    border: solid 1px black;
    font-size: 14px;
}

.login  {
    justify-content: right;
    display: flex;
    align-items: right;
 
}
.login a{
    margin: 5px;
}
.login a:link{
    text-decoration: none;
}
.login a:hover{
    text-decoration: underline;
}
  

.Logo{
flex-direction: row;
display: flex;
align-items: center;
}